body {
    background-color: #484848;
    color: #C9CCC6;
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}
#grid {
    background-color: rgb(35, 35, 35);
    bottom: 0;
    height: 190px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 280px;
    z-index: 600;
}
#myGrid {
    font-size: 0.8em;
}
.hud {
    color: rgba(200, 200, 200, 0.8);
    font-weight: 300;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    z-index: 600;
}
.hud .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.hud .bottom .center {
    display: flex;
}
.map {
    height: 180px;
}
#sidebar {
    background-color: rgb(35, 35, 35);
    bottom: 0;
    color: rgb(144, 144, 144);
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 280px;
    z-index: 500;
}
#viewport {
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 280px;
    top: 0;
    z-index: 500;
}
#viewport:focus {
    outline: none;
}
.active {
    background-color: rgba(200,200,200,0.2) !important;
}
.btn {
    width: 100%;
}
.btn:focus {
    outline: none;
}
.commandbox {
    background: #888;
    display: none;
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
    width: 400px;
    z-index: 800;
}


ul.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.list li {
    border-top: 1px solid rgba(60, 60, 60, 1);
    padding: 7px;
    text-align: left;
}
ul.list li i {
    padding-left: 5px;
    padding-right: 10px;
}
ul.list li:first-child {
    border-top: none;
}
.color-swatch {
    background-color: purple;
    border: 1px solid rgb(60, 60, 60);
    float: right;
    height: 16px;
    width: 16px;
}
.float-right {
    float: right;
}
.inset {
    margin-left: 15px;
    margin-right: 15px;
}
.inset-bottom {
    margin-bottom: 15px;
}.inset-top {
    margin-top: 15px;
}