<!DOCTYPE html>
<html ng-app="cad">
<head lang="en">
    <meta charset="UTF-8">
    <title>Threejs Multi-mode Navigation Example</title>
    <!-- vendor -->
    <script src="../vendor/jquery/dist/jquery.js"></script>
    <script src="../vendor/angular/angular.js"></script>
    <script src="../vendor/mousetrap/mousetrap.js"></script>
    <script src="../vendor/three.js/three.js"></script>
    <script src="../vendor/tweenjs/src/Tween.js"></script>

    <!-- lib -->
    <script src="../lib/controls/OrbitController.js"></script>
    <script src="../lib/controls/SelectionController.js"></script>
    <script src="../lib/controls/TourController.js"></script>
    <script src="../lib/controls/TrackballController.js"></script>
    <script src="../lib/controls/WalkController.js"></script>
    <script src="../lib/path/TravellingSalesman.js"></script>
    <script src="../lib/BoundingBox.js"></script>
    <script src="../lib/KeyInputController.js"></script>
    <script src="../lib/PathPlanner.js"></script>
    <script src="../lib/Scene.js"></script>
    <script src="../lib/SelectionSet.js"></script>
    <script src="../lib/TargetCamera.js"></script>
    <script src="../lib/Viewport3D.js"></script>

    <!-- demo application -->
    <script src="app.js"></script>

    <style>
        body {
            background-color: #484848;
            color: #C9CCC6;
            margin: 0;
            padding: 0;
        }

        #commandbox {
            background: #888;
            display: none;
            margin-left: auto;
            margin-right: auto;
            min-height: 400px;
            width: 400px;
            z-index: 800;
        }

        #webgl {
            bottom: 0;
            left: 0;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 48px;
            z-index: 500;
        }

        #webgl:focus {
            outline: none;
        }

        .active {
            background-color: #ffffff;
        }

        .button:focus {
            outline: none;
        }

        .controls {
            background-color: #333;
            height: 48px;
            left: 0px;
            padding: 1px;
            right: 0px;
            position: absolute;
            top: 0px;
        }

        .control-group {
            margin: 0;
            padding: 0;
        }

        .control {
            border: 1px solid #222;
            display: inline;
            min-height: 48px;
            overflow: hidden;
            width: 48px;
        }

        .inline {
            display: inline;
        }

        .offset-right {
            margin-right: 20px;
        }

        .orientation-control {
            background-color: rgba(255, 255, 255, 1);
            height: 92px;
            position: absolute;
            right: 20px;
            top: 68px;
            width: 92px;
            z-index: 900;
        }

        .axis-control {
            background-color: rgba(255, 255, 255, 1);
            bottom: 20px;
            height: 48px;
            position: absolute;
            left: 20px;
            width: 48px;
            z-index: 900;
        }
    </style>
</head>
<body>
<div class="controls" ng-controller="NavController">
    <div class="control-group offset-right inline">
        <button class="button control" ng-click="setMode(MODES.SELECT)" ng-class="{active:mode===MODES.SELECT}">Select
        </button>
        <button class="button control" ng-click="setMode(MODES.TRACKBALL)" ng-class="{active:mode===MODES.TRACKBALL}">
            Nav
        </button>
        <button class="button control" ng-click="setMode(MODES.WALK)" ng-class="{active:mode===MODES.WALK}">Walk
        </button>
        <button class="button control" ng-click="setMode(MODES.ORBIT)" ng-class="{active:mode===MODES.ORBIT}">Orbit
        </button>
    </div>
    <div class="control-group inline">
        <button class="button control" ng-click="setView(VIEWS.PERSPECTIVE)"
                ng-class="{active:view===VIEWS.PERSPECTIVE}">Persp
        </button>
        <button class="button control" ng-click="setView(VIEWS.TOP)" ng-class="{active:view===VIEWS.TOP}">Top</button>
        <button class="button control" ng-click="setView(VIEWS.LEFT)" ng-class="{active:view===VIEWS.LEFT}">Left
        </button>
        <button class="button control" ng-click="setView(VIEWS.RIGHT)" ng-class="{active:view===VIEWS.RIGHT}">Right
        </button>
        <button class="button control" ng-click="setView(VIEWS.FRONT)" ng-class="{active:view===VIEWS.FRONT}">Front
        </button>
        <button class="button control" ng-click="setView(VIEWS.BACK)" ng-class="{active:view===VIEWS.BACK}">Back
        </button>
    </div>
</div>
<div id="webgl"></div>
<div id="commandbox"></div>
<div class="orientation-control">
    Control widget
</div>
<div class="axis-control">
    Axis
</div>
<script>
    $(document).ready(function () {
        var keyinput = window.keyinput = new FOUR.KeyInputController();

        var domElement = document.getElementById('webgl');
        var scene = window.scene = new FOUR.Scene();
        scene.createDefaultCamera({height: domElement.clientHeight, width: domElement.clientWidth});

        var pathObj = new THREE.Object3D();
        scene.helpers.add(pathObj);

        // Basic scene lighting
        var ambientLight = new THREE.AmbientLight(0x383838);
        ambientLight.name = 'ambient';
        scene.lights.add(ambientLight);

        // add spotlight for the shadows
        var spotLight = new THREE.SpotLight(0xffffff);
        spotLight.intensity = 2;
        spotLight.name = 'spotlight';
        spotLight.position.set(100, 140, 130);
        scene.lights.add(spotLight);

        // Sample geometry
        var obj, geometry, material;

        // poles
        var poles = [
            [0, 0], [20, 0], [40, 0], [60, 0], [80, 0], [100, 0],
            [0, 10], [20, 10], [40, 10], [60, 10], [80, 10], [100, 10]
        ];
        poles.forEach(function (pole) {
            geometry = new THREE.CylinderGeometry(0.5, 0.5, 15, 20, 4);
            material = new THREE.MeshPhongMaterial({color: 0x00ff00});
            obj = new THREE.Mesh(geometry, material);
            obj.rotateOnAxis(new THREE.Vector3(1, 0, 0), Math.PI / 2);
            obj.position.setX(pole[0]);
            obj.position.setY(pole[1]);
            obj.position.setZ(7.5);
            obj.userData.type = 'pole';
            scene.model.add(obj);
        });

        // catenaries
        var catenaries = [
            [0, 0, 20, 0], [20, 0, 40, 0], [40, 0, 60, 0], [60, 0, 80, 0], [80, 0, 100, 0],
            [0, 10, 20, 10], [20, 10, 40, 10], [40, 10, 60, 10], [60, 10, 80, 10], [80, 10, 100, 10]
        ];
        catenaries.forEach(function (c) {
            var height = 15;
            material = new THREE.LineBasicMaterial({color: 0xff0000, linewidth: 2.0});
            geometry = new THREE.Geometry();
            geometry.vertices.push(
                    new THREE.Vector3(0, 0, height / 2),
                    new THREE.Vector3(20, 0, height / 2)
            );
            obj = new THREE.Line(geometry, material);
            obj.position.setX(c[0]);
            obj.position.setY(c[1]);
            obj.position.setZ(height / 2);
            obj.userData.type = 'catenary';
            scene.model.add(obj);
        });

        // terrain
        geometry = new THREE.PlaneGeometry(200, 200, 30, 30);
        var length = geometry.vertices.length;
        for (var index = 0; index < length; index++) {
            geometry.vertices[index].z = Math.floor((Math.random() * 2) + 1);
        }
        material = new THREE.MeshBasicMaterial({color: 'blue', wireframe: true});
        var terrain = new THREE.Mesh(geometry, material);
        terrain.position.set(50, 50, 0);
        scene.helpers.add(terrain);

        // axis helper
        var axisHelper = new THREE.AxisHelper(5);
        scene.helpers.add(axisHelper);

        // update the bounding box
        scene.boundingBox.update(scene.children);

        // keyboard input
        // TODO remove
        var getViewBoundingBox = function () {
            // FIXME
            var self = this;
            if (self.scene.selection.count > 0) {
                return self.scene.selection.getBoundingBox();
            } else {
                var bbox = new FOUR.BoundingBox('scene-bounding-box');
                bbox.update(self.scene.model.children);
                return bbox;
            }
        };

        var camera = scene.getCamera(scene.DEFAULT_CAMERA_NAME);

        // viewport
        var viewport = window.viewport = new FOUR.Viewport3D({domElement:domElement, scene:scene, camera:camera});
        viewport.addEventListener('update', viewport.render.bind(viewport), false);

        setupKeyboardBindings();
        setupControllers();

        function setupKeyboardBindings() {
            // selection
            Mousetrap.bind('ctrl+a', function () {
                console.log('select all');
                scene.selection.addAll(scene.model.children);
                viewport.render();
            });
            Mousetrap.bind('ctrl+n', function () {
                console.log('select none');
                scene.selection.removeAll();
                viewport.render();
            });

            // bounding box
            Mousetrap.bind('b', function () {
                console.log('toggle bounding box visibility');
                scene.boundingBox.toggleVisibility();
                viewport.render();
            });

            // viewport mode
            // TODO modify the cursor depending on the mode
            Mousetrap.bind('q', function () {
                viewport.setMode('selection');
            });

            // view controls
            Mousetrap.bind('f', function () {
                var bbox = getViewBoundingBox();
                camera.zoomToFit(bbox).then(function () {
                });
            });

            Mousetrap.bind('1', function () {
                viewport.setMode('trackball');
            });
            Mousetrap.bind('2', function () {
                viewport.setMode('walk');
            });
            Mousetrap.bind('3', function () {
                viewport.setMode('orbit');
            });
            Mousetrap.bind('4', function () {
                viewport.setMode('tour');
            });
            Mousetrap.bind('5', function () {
                var bbox = getViewBoundingBox();
                camera.setView(camera.VIEWS.TOP, bbox);
            });
            Mousetrap.bind('6', function () {
                var bbox = getViewBoundingBox();
                camera.setView(camera.VIEWS.FRONT, bbox);
            });
            Mousetrap.bind('7', function () {
                var bbox = getViewBoundingBox();
                camera.setView(camera.VIEWS.LEFT, bbox);
            });
            Mousetrap.bind('8', function () {
                var bbox = getViewBoundingBox();
                camera.setView(camera.VIEWS.RIGHT, bbox);
            });
            Mousetrap.bind('9', function () {
                var bbox = getViewBoundingBox();
                camera.setView(camera.VIEWS.BACK, bbox);
            });
            Mousetrap.bind('0', function () {
                var bbox = getViewBoundingBox();
                camera.setView(camera.VIEWS.PERSPECTIVE, bbox);
            });

            // tour controls
            Mousetrap.bind('m', function () {
                console.log('toggle tour path visibility');
                var path = viewport.controllers.tour.path;
                if (path.length > 0) {
                    pathObj.children.length = 0;
                    var geometry, i, line;
                    var material = new THREE.LineBasicMaterial({color: 0xFFD700});
                    for (i = 0; i < path.length - 1; i++) {
                        geometry = new THREE.Geometry();
                        geometry.vertices.push(
                                new THREE.Vector3(path[i].x, path[i].y, path[i].z),
                                new THREE.Vector3(path[i + 1].x, path[i + 1].y, path[i + 1].z)
                        );
                        line = new THREE.LineSegments(geometry, material);
                        line.name = 'path' + i;
                        pathObj.add(line);
                    }
                }
                viewport.render();
            });
            Mousetrap.bind('g', function () {
                viewport.controllers.tour.plan();
            });
            Mousetrap.bind('/', function () {
                console.error('switch object focus');
            });

            // camera controls
            Mousetrap.bind('t', function () {
                console.log('toggle camera target visibility');
                if (camera.target.visible) {
                    camera.hideTarget();
                } else {
                    camera.showTarget();
                }
            });
            Mousetrap.bind('y', function () {
                console.log('toggle camera frustrum visibility');
                if (camera.frustrum.visible) {
                    camera.hideFrustrum();
                } else {
                    camera.showFrustrum();
                }
            });
            Mousetrap.bind('=', function () {
                camera.zoomIn();
            });
            Mousetrap.bind('-', function () {
                camera.zoomOut();
            });
        }

        function setupControllers() {
            // TODO for most controllers, passing in the viewport should provide the required information
            // selection controller
            viewport.controllers.selection = new FOUR.SelectionController({
                viewport: viewport,
                selection: scene.selection
            });
            viewport.controllers.selection.addEventListener('update', viewport.render.bind(viewport));

            // trackball controller
            viewport.controllers.trackball = new FOUR.TrackballController({viewport: viewport});
            viewport.controllers.trackball.dynamicDampingFactor = 0.5;
            viewport.controllers.trackball.addEventListener('update', viewport.render.bind(viewport));
            viewport.controllers.trackball.addEventListener('lookat', function (event) {
                camera.setLookAt(event.position.x, event.position.y, event.position.z);
            }, false);
            viewport.controllers.trackball.addEventListener('navigate', function (event) {
                var bbox = new FOUR.BoundingBox();
                bbox.update([event.object]);
                camera.zoomToFit(bbox);
            }, false);

            // first person navigation controller
            viewport.controllers.walk = new FOUR.WalkController({viewport: viewport});
            viewport.controllers.walk.enforceWalkHeight = true;
            viewport.controllers.walk.addEventListener('update', viewport.render.bind(viewport));
            viewport.controllers.walk.addEventListener('lookat', function (event) {
                camera.setLookAt(event.position.x, event.position.y, event.position.z);
            }, false);
            viewport.controllers.walk.addEventListener('navigate', function (event) {
                var bbox = new FOUR.BoundingBox();
                bbox.update([event.object]);
                camera.zoomToFit(bbox);
            }, false);

            // orbit controller
            viewport.controllers.orbit = new FOUR.OrbitController({camera:camera, domElement:domElement});
            viewport.controllers.orbit.addEventListener('update', viewport.render.bind(viewport));

            // tour controller
            viewport.controllers.tour = new FOUR.TourController({viewport: viewport, selection: scene.selection});
            viewport.controllers.tour.addEventListener('update', function () {
                viewport.render.bind(viewport);
            });

            // keyinput controller
//      viewport.controllers.keyinput = new FOUR.KeyInputController();
//      window.addEventListener('keydown', viewport.controllers.walk.onKeyDown.bind(viewport.controllers.walk));
//      window.addEventListener('keyup', viewport.controllers.walk.onKeyUp.bind(viewport.controllers.walk));

            // set the viewport controller mode
            viewport.setMode('selection');
        }

    });
</script>
</body>
</html>
