<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>FOUR - Kitchen Sink</title>
    <!-- vendor -->
    <script src="../vendor/bluebird/js/browser/bluebird.js"></script>
    <script src="../vendor/jquery/dist/jquery.js"></script>
    <script src="../vendor/angular/angular.js"></script>
    <script src="../vendor/mousetrap/mousetrap.js"></script>
    <script src="../vendor/three.js/three.js"></script>
    <script src="../vendor/tween.js/src/Tween.js"></script>

    <!-- lib -->
    <script src="../fonts/helvetiker_regular.typeface.js"></script>
    <script src="../dist/four.js"></script>

    <style>
        body {
            background-color: #484848;
            color: #C9CCC6;
            margin: 0;
            padding: 0;
        }

        #commandbox {
            background: #888;
            display: none;
            margin-left: auto;
            margin-right: auto;
            min-height: 400px;
            width: 400px;
            z-index: 800;
        }
        #viewaxis {
            background-color: transparent;
            bottom: 0;
            height: 120px;
            left: 0;
            overflow: hidden;
            position: absolute;
            width: 120px;
            z-index: 600;
        }
        #viewcube {
            background-color: transparent;
            height: 180px;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 20px;
            width: 180px;
            z-index: 600;
        }

        #viewport {
            bottom: 0;
            left: 0;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 48px;
            z-index: 500;
        }
        .active {
            background-color: #ffffff;
        }

        .button:focus {
            outline: none;
        }

        .controls {
            background-color: #333;
            height: 48px;
            left: 0px;
            padding: 1px;
            right: 0px;
            position: absolute;
            top: 0px;
        }

        .control-group {
            margin: 0;
            padding: 0;
        }

        .control {
            border: 1px solid #222;
            display: inline;
            min-height: 48px;
            overflow: hidden;
            width: 48px;
        }

        .inline {
            display: inline;
        }

        .offset-right {
            margin-right: 20px;
        }

        .viewport:focus {
            outline: none;
        }
    </style>
</head>
<body>
<div class="controls" ng-controller="NavController">
    <div class="control-group offset-right inline">
        <button class="button control" ng-click="setMode(MODES.SELECT)" ng-class="{active:mode===MODES.SELECT}">Select
        </button>
        <button class="button control" ng-click="setMode(MODES.TRACKBALL)" ng-class="{active:mode===MODES.TRACKBALL}">
            Nav
        </button>
        <button class="button control" ng-click="setMode(MODES.WALK)" ng-class="{active:mode===MODES.WALK}">Walk
        </button>
        <button class="button control" ng-click="setMode(MODES.ORBIT)" ng-class="{active:mode===MODES.ORBIT}">Orbit
        </button>
    </div>
    <div class="control-group inline">
        <button class="button control" ng-click="setView(VIEWS.PERSPECTIVE)"
                ng-class="{active:view===VIEWS.PERSPECTIVE}">Persp
        </button>
        <button class="button control" ng-click="setView(VIEWS.TOP)" ng-class="{active:view===VIEWS.TOP}">Top</button>
        <button class="button control" ng-click="setView(VIEWS.LEFT)" ng-class="{active:view===VIEWS.LEFT}">Left
        </button>
        <button class="button control" ng-click="setView(VIEWS.RIGHT)" ng-class="{active:view===VIEWS.RIGHT}">Right
        </button>
        <button class="button control" ng-click="setView(VIEWS.FRONT)" ng-class="{active:view===VIEWS.FRONT}">Front
        </button>
        <button class="button control" ng-click="setView(VIEWS.BACK)" ng-class="{active:view===VIEWS.BACK}">Back
        </button>
    </div>
</div>
<div id="viewaxis"></div>
<div id="viewcube"></div>
<div id="viewport" class="viewport"></div>
<div id="commandbox"></div>
<div class="orientation-control">
    Control widget
</div>
<div class="axis-control">
    Axis
</div>
<script>
    $(document).ready(function () {
        var keyinput = window.keyinput = new FOUR.KeyInputController();

        var domElement = document.getElementById('viewport');

        // scene
        var scene = window.scene = new FOUR.Scene();

        // lights
        var ambientLight = new THREE.AmbientLight(0x383838);
        ambientLight.name = 'ambient';
        scene.lights.add(ambientLight);

        var spotLight = new THREE.SpotLight(0xffffff);
        spotLight.intensity = 2;
        spotLight.name = 'spotlight';
        spotLight.position.set(100, 140, 130);
        scene.lights.add(spotLight);

        // camera
        var camera = new FOUR.TargetCamera(45, domElement.clientWidth/domElement.clientHeight, 0.1, 1000);
        camera.name = 'camera1';
        camera.lookAt(0,0,0);
        scene.cameras.add(camera);

        // selection set
        var selectionSet = new FOUR.SelectionSet();

        // viewport
        var viewport = window.viewport = new FOUR.Viewport3D({
            camera:camera,
            continuousUpdate: true,
            domElement:domElement,
            scene:scene
        });

        // selection
        var boundingBox = new FOUR.BoundingBox('scene-bounding-box');
        scene.helpers.add(boundingBox);
        selectionSet.addEventListener('update', function () {
            boundingBox.update(selectionSet.getObjects());
            viewport.render();
        });

        viewport.render();
        viewport.update();

        // events
        camera.addEventListener('update', viewport.render.bind(viewport), false);

        var pathObj = new THREE.Object3D();
        scene.helpers.add(pathObj);

        // Sample geometry
        var obj, geometry, material;

        // poles
        var poles = [
            [0, 0], [20, 0], [40, 0], [60, 0], [80, 0], [100, 0],
            [0, 10], [20, 10], [40, 10], [60, 10], [80, 10], [100, 10]
        ];
        poles.forEach(function (pole) {
            geometry = new THREE.CylinderGeometry(0.5, 0.5, 15, 20, 4);
            material = new THREE.MeshPhongMaterial({color: 0x00ff00});
            obj = new THREE.Mesh(geometry, material);
            obj.rotateOnAxis(new THREE.Vector3(1, 0, 0), Math.PI / 2);
            obj.position.setX(pole[0]);
            obj.position.setY(pole[1]);
            obj.position.setZ(7.5);
            obj.userData.type = 'pole';
            scene.model.add(obj);
        });

        // catenaries
        var catenaries = [
            [0, 0, 20, 0], [20, 0, 40, 0], [40, 0, 60, 0], [60, 0, 80, 0], [80, 0, 100, 0],
            [0, 10, 20, 10], [20, 10, 40, 10], [40, 10, 60, 10], [60, 10, 80, 10], [80, 10, 100, 10]
        ];
        catenaries.forEach(function (c) {
            var height = 15;
            material = new THREE.LineBasicMaterial({color: 0xff0000, linewidth: 2.0});
            geometry = new THREE.Geometry();
            geometry.vertices.push(
                    new THREE.Vector3(0, 0, height / 2),
                    new THREE.Vector3(20, 0, height / 2)
            );
            obj = new THREE.Line(geometry, material);
            obj.position.setX(c[0]);
            obj.position.setY(c[1]);
            obj.position.setZ(height / 2);
            obj.userData.type = 'catenary';
            scene.model.add(obj);
        });

        // terrain
        geometry = new THREE.PlaneGeometry(200, 200, 30, 30);
        var length = geometry.vertices.length;
        for (var index = 0; index < length; index++) {
            geometry.vertices[index].z = Math.floor((Math.random() * 2) + 1);
        }
        material = new THREE.MeshBasicMaterial({color: 'blue', wireframe: true});
        var terrain = new THREE.Mesh(geometry, material);
        terrain.position.set(50, 50, 0);
        scene.helpers.add(terrain);

        // axis helper
        var axisHelper = new THREE.AxisHelper(5);
        scene.helpers.add(axisHelper);

        // update the bounding box
        boundingBox.update(scene.children);


        var viewaxisElement = document.getElementById('viewaxis');
        var viewaxis = window.viewaxis = new FOUR.ViewAxis({domElement:viewaxisElement, viewport:viewport});
        viewaxis.render();
        viewaxis.update();

        var viewcubeElement = document.getElementById('viewcube');
        var viewcube = new FOUR.Viewcube({domElement:viewcubeElement, viewport:viewport});
        viewcube.enable();

//        trackball.addEventListener('update', function () {
//            viewcube.updateOrientation();
//        });

        setupKeyboardBindings();
        setupControllers();

        viewport.render();
        camera.zoomToFit(boundingBox, false);

        function getViewBoundingBox() {
            // FIXME
            var self = this;
            if (selectionSet.count > 0) {
                return selectionSet.getBoundingBox();
            } else {
                boundingBox.update(self.scene.model.children);
                return boundingBox;
            }
        }

        function setupKeyboardBindings() {
            // selection
            Mousetrap.bind('ctrl+a', function () {
                console.log('select all');
                selectionSet.addAll(scene.model.children);
                viewport.render();
            });
            Mousetrap.bind('ctrl+n', function () {
                console.log('select none');
                selectionSet.removeAll();
                viewport.render();
            });

            // bounding box
            Mousetrap.bind('b', function () {
                console.log('toggle bounding box visibility');
                boundingBox.toggleVisibility();
                viewport.render();
            });

            // viewport mode
            // TODO modify the cursor depending on the mode
            Mousetrap.bind('q', function () {
                viewport.setActiveController('selection');
            });

            // view controls
            Mousetrap.bind('f', function () {
                var bbox = getViewBoundingBox();
                camera.zoomToFit(bbox);
            });

            Mousetrap.bind('1', function () {
                viewport.setActiveController('trackball');
            });
            Mousetrap.bind('2', function () {
                viewport.setActiveController('walk');
            });
            Mousetrap.bind('3', function () {
                viewport.setActiveController('orbit');
            });
            Mousetrap.bind('4', function () {
                viewport.setActiveController('tour');
            });
            Mousetrap.bind('5', function () {
                var bbox = getViewBoundingBox();
                camera.setView(camera.VIEWS.TOP, bbox);
            });
            Mousetrap.bind('6', function () {
                var bbox = getViewBoundingBox();
                camera.setView(camera.VIEWS.FRONT, bbox);
            });
            Mousetrap.bind('7', function () {
                var bbox = getViewBoundingBox();
                camera.setView(camera.VIEWS.LEFT, bbox);
            });
            Mousetrap.bind('8', function () {
                var bbox = getViewBoundingBox();
                camera.setView(camera.VIEWS.RIGHT, bbox);
            });
            Mousetrap.bind('9', function () {
                var bbox = getViewBoundingBox();
                camera.setView(camera.VIEWS.BACK, bbox);
            });
            Mousetrap.bind('0', function () {
                var bbox = getViewBoundingBox();
                camera.setView(camera.VIEWS.PERSPECTIVE, bbox);
            });

            // tour controls
            Mousetrap.bind('m', function () {
                console.log('toggle tour path visibility');
                var path = viewport.controllers.tour.path;
                if (path.length > 0) {
                    pathObj.children.length = 0;
                    var geometry, i, line;
                    var material = new THREE.LineBasicMaterial({color: 0xFFD700});
                    for (i = 0; i < path.length - 1; i++) {
                        geometry = new THREE.Geometry();
                        geometry.vertices.push(
                                new THREE.Vector3(path[i].x, path[i].y, path[i].z),
                                new THREE.Vector3(path[i + 1].x, path[i + 1].y, path[i + 1].z)
                        );
                        line = new THREE.LineSegments(geometry, material);
                        line.name = 'path' + i;
                        pathObj.add(line);
                    }
                }
                viewport.render();
            });

            Mousetrap.bind('=', function () {
                camera.zoomIn();
            });
            Mousetrap.bind('-', function () {
                camera.zoomOut();
            });
        }

        function setupControllers() {
            var look = new FOUR.LookController({viewport: viewport});
            var pan = new FOUR.PanController({viewport: viewport});
            var rotate = new FOUR.RotateController({viewport: viewport});
            var tour = new FOUR.TourController({viewport: viewport});
            var walk = new FOUR.WalkController({viewport: viewport});
            var zoom = new FOUR.ZoomController({viewport: viewport});

            var select = new FOUR.SelectionController({viewport: viewport});
            select.addEventListener('update', viewport.render.bind(viewport));
            select.addEventListener('add', function (event) {
                selectionSet.addAll([event.object]);
                var objs = selectionSet.getObjects();
                tour.plan(objs);
            });
            select.addEventListener('remove', function (event) {
                selectionSet.removeAll([event.object]);
                var objs = selectionSet.getObjects();
                tour.plan(objs);
            });
            select.addEventListener('toggle', function (event) {
                selectionSet.toggle([event.object]);
                var objs = selectionSet.getObjects();
                tour.plan(objs);
            });
            select.addEventListener('hover', function (event) {
                console.info('hover', [event.object]);
            });
            select.addEventListener('lookat', function (event) {
                camera.setLookAt(event.position);
            }, false);
            select.addEventListener('navigate', function (event) {
                var bbox = new FOUR.BoundingBox();
                bbox.update([event.object]);
                camera.zoomToFit(bbox);
            }, false);

            var orbit = new FOUR.MultiController({viewport:viewport});
            orbit.addController(select, 'select');
            orbit.addController(pan, 'pan');
            orbit.addController(rotate, 'rotate');
            orbit.addController(tour, 'tour');
            orbit.addController(zoom, 'zoom');

            var firstperson = new FOUR.MultiController({viewport:viewport});
            firstperson.addController(look, 'look');
            firstperson.addController(select, 'select');
            firstperson.addController(tour, 'tour');
            firstperson.addController(walk, 'walk');

            viewport.addController(firstperson, 'firstperson');
            viewport.addController(orbit, 'orbit');

            viewport.setActiveController('orbit');

            selectionSet.addEventListener('update', function (event) {
                var objs = [];
                Object.keys(event.target.selection).forEach(function (key) {

                });
               console.info('selection set update', event);
            });
        }

    });
</script>
</body>
</html>
