#description {
    left: 20px;
    top: 80px;
    background-color: orangered;
    padding: 15px;
    padding-bottom: 20px;
    position: absolute;
    width: 250px;
    z-index: 999;
}

#webgl {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 500;
}

#webgl:focus {
    outline: none;
}

body {
    background-color: black;
    color: #272822;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

button {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 2px;
    padding: 4px;
    width: 100%;
}

code {
    background-color: #fafafa;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #d05;
    font-family: monospace, serif;
    font-size: 12px;
    padding: 0 4px;
    white-space: nowrap;
}

.brand {
    font-family: Montserrat, sans-serif;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 3px;
    padding-top: 60px;
}

.footer {
    background-color: white;
    bottom: 40px;
    font-size: 0.8em;
    line-height: 14px;;
    position: absolute;
}

.inset {
    margin: 25px;
}

.menu {
    background-color: white;
    border-right: 3px solid orangered;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 250px;
    z-index: 100;
}

.submenu {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}

.submenu li a {
    color: #272822;
    text-decoration: none;
}

.submenu li.heading {
    color: rgba(0, 0, 0, 0.3);
    font-size: 0.8em;
    font-weight: bold;
    padding-top: 20px;
    text-transform: uppercase;
}

.viewport {
    border: none;
    bottom: 0;
    left: 250px;
    position: absolute;
    right: 0;
    top: 0;
}